.driven-innovation {
  max-width: 988px;
  margin: 0 auto;
  width: 100%;

  .driven-head {
    h2 {
      font-size: clamp(32px, 3vw + 1rem, 54px);
      font-weight: 600;
      line-height: 1.2;

      span {
        font-style: italic;
      }
    }

    p {
      font-size: clamp(20px, 2.5vw + 1rem, 32px);
      font-weight: 500;
      display: block;
      line-height: 1.5;
      margin-bottom: 24px;

      img {
        margin: 0 8px;
        display: inline;
      }
    }
  }
}

.our-mission-section {
  height: 200vh;

  .our-mission {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-size: clamp(32px, 4vw + 1rem, 52px);
      font-weight: 600;
      line-height: 1.2;
      margin: 0;
    }

    p {
      font-size: clamp(14px, 1.5vw + 10px, 24px);
      font-weight: 400;
      display: block;
      line-height: 1.5;
    }
  }

  .our-mission-wrapper {
    position: sticky;
    top: 25px;
    height: 100vh;

    svg {
      width: 100%;
      height: auto;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
    }
  }
}

.our-values {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  ul {
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      gap: 30px;
      justify-content: center;
    }
  }
}

.why-djinn-smarter {
  max-width: 1200px;
  margin: auto;

  .why-djinn-head {
    margin-bottom: 1rem;

    .common-title {
      text-align: left;
    }

    h3 {
      color: $accent-color;
      font-weight: 600;
      line-height: 1.2;
      margin: 0;
    }

    h2 {
      font-weight: 600;
      line-height: 1.2;
      margin: 0;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;

    li {
      .card {
        background: #ebebeb;
        padding: 5px;
        border-radius: 20px;
        height: 100%;
        color: #131313;

        .content-sec {
          padding: 1rem;

          h2 {
            font-size: clamp(20px, 1.5vw + 12px, 20px);
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 5px;
          }

          p {
            font-size: 14px;
          }
        }

        video {
          border-radius: 20px;
          overflow: hidden;
          min-height: 170px;
        }
      }
    }
  }
}

.your-success {
  max-width: 1200px;
  margin: auto;

  .left-sec {
    h2 {
      font-size: clamp(32px, 4vw + 1rem, 54px);
      font-weight: 600;
      line-height: 1.2;
      text-align: left;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      display: block;
      line-height: 1.5;
      text-align: left;
      color: #d3d3d3;
      margin-bottom: 2rem;
    }

    
  }
}
