.core-data {
  overflow: hidden;
}

.slider-section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  ul {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
    gap: 20px;

    &:hover {
      animation-play-state: paused;
    }

    li {
      flex: 1 0 240px;
      height: 240px;
      border-radius: 30px;
      overflow: hidden;
      background: linear-gradient(90deg, rgba(35, 35, 35, 0) 0%, #0040b6 100%);

      .card {
        height: 100%;
        position: relative;

        .content-sec {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0) 100%
          );
          padding: 20px;
          color: #ffffff;
          text-align: center;

          h3 {
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 5px;
          }

          p {
            font-size: 12px;
            font-weight: 400;
            line-height: normal;
          }
        }
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:has(video) {
        border: 2.17px solid #ffffff;
        box-shadow: 2px 1px 30px 3px #bbebff80;
      }
    }
  }

  .countinous-right {
    ul {
      animation: scrollRight 20s linear infinite;

      li {
        background: linear-gradient(
          90deg,
          #0040b6 0%,
          rgba(35, 35, 35, 0) 100%
        );
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-50% - 10px));
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(calc(-50% - 10px));
  }

  100% {
    transform: translateX(0);
  }
}

.advanced-ai {
  .advance-heading {
    margin-bottom: 40px;
  }
}

.ai-cards-sec {
  background: radial-gradient(
    circle at center,
    #ffffff 0%,
    #79dcf3 50%,
    #0042bc 100%
  );
  border-radius: 20px;
  padding: 6px;
  color: #fff;
  max-width: 900px;
  margin: 0 auto;

  ul {
    display: flex;
    flex-wrap: wrap;
    border-radius: inherit;
    gap: 6px;

    li {
      position: relative;
      border-radius: inherit;
      overflow: hidden;
      min-height: 330px;
      flex: 1 1 100%;

      &:nth-child(1) {
        flex: 1 1 calc(65% - 6px);

        .content-sec {
          h3,
          p {
            max-width: 270px;
          }
        }
      }

      &:nth-child(2) {
        flex: 1 1 calc(35% - 6px);
      }

      &:nth-child(3) {
        flex: 1 1 calc(35% - 6px);
      }

      &:nth-child(4) {
        flex: 1 1 calc(65% - 6px);
      }

      .card {
        height: 100%;
        position: relative;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .content-sec {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          top: 0;
          padding: 24px;
          background:
            linear-gradient(0deg, #13131336, #131313ba),
            linear-gradient(#00132c1c 20.4%, #00132c00 40.75%);

          h3 {
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 5px;
          }

          p {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.3;
          }
        }
      }
    }
  }
}

.industry-specific-tools-cards {
  max-width: 880px;
  margin: 0 auto;

  > ul {
    display: flex;
    flex-direction: column;
    gap: 40px;

    li {
      > div {
        display: flex;
        align-items: center;
        gap: 40px;

        img {
          width: 100%;
          max-width: 490px;
          height: auto;
          border-radius: 20px;
        }

        .content-sec {
          h3 {
            font-size: clamp(32px, 1.5vw + 1rem, 30px);
            font-weight: 600;
            line-height: normal;
            margin-bottom: 15px;
          }
          ul {
            padding-left: 15px;
            li {
              font-size: 16px;
              font-weight: 400;
              line-height: 1.3;
              list-style-type: disc;
            }
          }
        }
      }

      &:nth-child(2n) {
        > div {
          flex-direction: row-reverse;
        }
      }
    }
  }
}
