header {
  margin-block: 35px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 40px;

  nav {
    ul {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        color: $gray-color;
        text-decoration: none;
        font-weight: 400;
        transition: color 0.3s ease;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
